/****************************
            nav
******************************/

.navbar {
    background: #020304 !important;
}


.sidenav {
    &_element {
        margin-top: 20px;
        &-link {
            color: #fff !important;
            font-size: 1.3em;
        }
    }
}


/****************************
            nav
******************************/




/****************************
        cover section
******************************/



.section {
    margin: 0;
    padding: 0;


    &_cover-wrapper {
        position: relative;
        background-attachment: fixed;
        background-position: top;
        background-size: cover;        

        &--bg {
            position: absolute;
            width: 100%;
            height: 92vh;
            background-color: #020304;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            z-index: -1;

            &---header {
                font-size: 3.3em !important;
                color: #fff;
                position: absolute;
                top: 20%;
                left: 50%;
                transform: translate(-50%, -50%);    
            }
        }
    }
}



#words {
    text-transform: uppercase;
}
  
#words  #word {
    display: inline-block !important;
    line-height: 1em;
}



@media only screen and (max-width: 740px) {
    .section {
        margin: 0;
        padding: 0;
    
    
        &_cover-wrapper {
            position: relative;
            background-attachment: fixed;
            background-position: top;
            background-size: cover;        
    
            &--bg {
                position: absolute;
                width: 100%;
                height: 92vh;
                background-color: #020304;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                z-index: -1;
    
                &---header {
                    font-size: 2.3em !important;
                    color: #fff;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                    &_word {
                        
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 545px) {
    .section {
        margin: 0;
        padding: 0;
    
    
        &_cover-wrapper {
            position: relative;
            background-attachment: fixed;
            background-position: top;
            background-size: cover;        
    
            &--bg {
                position: absolute;
                width: 100%;
                height: 92vh;
                background-color: #020304;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: 50% 50%;
                z-index: -1;
    
                &---header {
                    font-size: 1.3em !important;
                    color: #fff;
                    position: absolute;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-weight: 800;
                    text-transform: uppercase;
                    letter-spacing: 0.5em;
                    
                    &_word {
                        display: inline-block;
                        line-height: 1em;
                    }
                }
            }
        }
    }
}




/****************************
        cover section
******************************/
