/*
===============
    Navbar
================
*/

.section {
    &_navbar {
        &-logoWrapper {
            &--img {
                height: 40px; 
                width: auto;
            }
        }
    }

    /*
===============
    cover
================
*/
    &_cover {
        position: relative;
        &-container {
            height: 90vh !important;
            background-color: #2D2D2D;
            &--overlay_layout {
                margin-top: -200px;
                color: #fff;
                text-align: center;
                & h3 {
                    font-size: 2.2em;
                }
            }
        }
        &-icon {
            position: absolute;
            top: 80%;
            left: 3%;
            transform: translate(-0%, -88%);
            font-size: 25em !important;
        }
    }
}



